<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.reservation.movie.mapper.MovieMapper">
    <insert id="insert" parameterType="com.movie.reservation.movie.Movie" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO movie(title, description, genre, poster, duration)
        VALUES (#{title}, #{description}, #{genre}, #{poster}, #{duration})
    </insert>

    <select id="findById" resultType="com.movie.reservation.movie.Movie">
        SELECT * FROM movie WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.movie.reservation.movie.Movie">
        SELECT * FROM movie ORDER BY id DESC
    </select>

    <update id="update" parameterType="com.movie.reservation.movie.Movie">
        UPDATE movie
        SET title=#{title}, description=#{description}, genre=#{genre}, poster=#{poster}, duration=#{duration}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM movie WHERE id=#{id}
    </delete>
</mapper>
