<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.reservation.screen.mapper.ScreenMapper">
    <insert id="insert" parameterType="com.movie.reservation.screen.Screen" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO screen(name, total_seat, cinema_id)
        VALUES (#{name}, #{totalSeat}, #{cinemaId})
    </insert>

    <select id="findById" resultType="com.movie.reservation.screen.Screen">
        SELECT * FROM screen WHERE id = #{id}
    </select>

    <select id="findByCinemaId" resultType="com.movie.reservation.screen.Screen">
        SELECT * FROM screen WHERE cinema_id = #{cinemaId} ORDER BY id DESC
    </select>

    <update id="update" parameterType="com.movie.reservation.screen.Screen">
        UPDATE screen
        SET name=#{name}, total_seat=#{totalSeat}, cinema_id=#{cinemaId}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM screen WHERE id=#{id}
    </delete>
</mapper>
